#
*~
*.bak
#
temp*
# MMIX object/executables
*.mmo
# MMIX listings
*.lst
# MMIX listings (alternate)
*.map
#
# Ignore any local files relating to editors, etc.
#
.vscode
.kate*
#
# include system temporaries
#
*.incsave
# Assemble check directory
tasm*
# build artifacts
*.work

